/**
 * @package 	WordPress
 * @subpackage 	Agrofields
 * @version 	1.1.0
 * 
 * Theme Secondary Color Schemes Rules
 * Created by CMSMasters
 * 
 */


/***************** Start Header Color Scheme Rules ******************/

	/* Start Header Content Color */
	.header_mid {
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	/* Finish Header Content Color */
	
	/* Start Header Primary Color */
	.header_mid a {
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	
	.header_mid .search_wrap .search_wrap_inner .search_wrap_in_inner .search_but,
	.header_mid .search_wrap .search_wrap_inner .search_wrap_in_inner .search_bar_wrap,
	.header_mid .social_mid .social_mid_inner .social_but_wrap .social_but,
	.header_mid .cmsms_dynamic_cart .cmsms_dynamic_cart_button {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
	}
	/* Finish Header Primary Color */
	
	
	/* Start Header Rollover Color */
	.header_mid a:hover {
		color:#ffffff; color:rgba(255, 255, 255, 0.75);
	}
	
	.header_mid .search_wrap .search_wrap_inner .search_wrap_in_inner .search_but,
	.header_mid .social_mid .social_mid_inner .social_but_wrap .social_but,
	.header_mid .cmsms_dynamic_cart .cmsms_dynamic_cart_button, {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 0.75);
	}
	/* Finish Header Rollover Color */
	
	
	/* Start Header Icons Color */
	.header_mid .search_wrap .search_wrap_inner .search_wrap_in_inner .search_bar_wrap input[type='text'],
	.header_mid .search_wrap .search_wrap_inner .search_wrap_in_inner .search_but:before,
	.header_mid .social_mid .social_mid_inner .social_but_wrap .social_but:before,
	.header_mid .cmsms_dynamic_cart .cmsms_dynamic_cart_button:before {
		color:#d8d8d8; color:rgba(216, 216, 216, 1);
	}
	/* Finish Header Icons Color */
	
	
	/* Start Header Background Color */	
	.header_mid_outer {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 0);
	}
	/* Finish Header Background Color */
	
	/* Finish Header Custom Rules */

/***************** Finish Header Color Scheme Rules ******************/



/***************** Start Header Top Color Scheme Rules ******************/

	/* Start Header Top Content Color */
	.header_top,
	.header_top_outer .meta_wrap, 
	.header_top_inner .social_wrap a {
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	/* Finish Header Top Content Color */
	
	
	/* Start Header Top Primary Color */
	.header_top a,
	.header_top .color_2,
	.header_top_outer nav > div > ul > li a,
	.header_top_outer .meta_wrap a,
	.header_top h1,
	.header_top h2,
	.header_top h3,
	.header_top h4,
	.header_top h5,
	.header_top h6,
	.header_top h1 a,
	.header_top h2 a,
	.header_top h3 a,
	.header_top h4 a,
	.header_top h5 a,
	.header_top h6 a,
	.header_top h1 a:hover,
	.header_top h2 a:hover,
	.header_top h3 a:hover,
	.header_top h4 a:hover,
	.header_top h5 a:hover,
	.header_top h6 a:hover,
	.header_top .search_bar_wrap button[type=submit][class^="cmsms-icon-"],
	.header_top .search_bar_wrap button[type=submit][class*=" cmsms-icon-"], 
	.header_top .search_bar_wrap button[type=submit][class^="cmsms_theme_icon_"],
	.header_top .search_bar_wrap button[type=submit][class*=" cmsms_theme_icon_"] {
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	
	/* @media only screen and (max-width: 1024px) {
		html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li > a {
			color:#ffffff; color:rgba(255, 255, 255, 1);
		}
	} */
	
	.header_top .cmsms_button,
	.header_top .button:hover,
	.header_top_outer nav > div > ul > li > a > span.cmsms_count,
	.header_top .button {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
	}
	
	.header_top input[type=text]:focus,
	.header_top input[type=number]:focus,
	.header_top input[type=email]:focus,
	.header_top input[type=password]:focus,
	.header_top textarea:focus {
		border-color:#ffffff; border-color:rgba(255, 255, 255, 1);
	}
	/* Finish Header Top Primary Color */
	
	
	/* Start Header Top Rollover Color */
	.header_top a:hover,
	.header_top_outer nav > div > ul > li:hover > a,
	.header_top_outer nav > div > ul > li.current-menu-item > a,
	.header_top_outer nav > div > ul > li.current-menu-ancestor > a,
	.header_top_outer .meta_wrap a:hover, 
	.header_top_inner .social_wrap a:hover {
		color:#ffffff; color:rgba(255, 255, 255, 0.7);
	}
	/* Finish Header Top Rollover Color */
	
	
	/* Start Header Top Background Color */
	.header_top_outer nav > div > ul > li > a > span.cmsms_count,
	.header_top .cmsms_button,
	.header_top .cmsms_button:hover {
		color:#ffffff; color:rgba(255, 255, 255, 0);
	}
	
	.header_top,
	.header_top input[type=text]:focus,
	.header_top input[type=number]:focus,
	.header_top input[type=email]:focus,
	.header_top input[type=password]:focus,
	.header_top textarea:focus,
	.header_top_outer {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 0);
	}
	/* Finish Header Top Background Color */
	
	
	/* Start Header Top Borders Color */
	.header_top input[type=text],
	.header_top input[type=number],
	.header_top input[type=email],
	.header_top input[type=password],
	.header_top input[type=submit],
	.header_top button,
	.header_top textarea,
	.header_top select,
	.header_top option {
		border-color:#ffffff; border-color:rgba(255, 255, 255, 0);
	}
	
	.header_top hr,
	.header_top .cmsms_divider {
		border-bottom-color:#ffffff; border-bottom-color:rgba(255, 255, 255, 0);
	}
	/* Finish Header Top Borders Color */
	
	
	/* Start Header Top Dropdown Link Color */
	.header_top_outer nav > div > ul > li ul li > a,
	.header_top .button,
	.header_top .button:hover {
		color:#9f9f9f; color:rgba(159, 159, 159, 1);
	}
	/* Finish Header Top Dropdown Link Color */
	
	
	/* Start Header Top Dropdown Rollover Color */
	.header_top_outer nav > div > ul > li ul li:hover > a,
	.header_top_outer nav > div > ul > li ul li.current-menu-item > a,
	.header_top_outer nav > div > ul > li ul li.current-menu-ancestor > a {
		color:#ff8f3c; color:rgba(255, 143, 60, 1);
	}
	/* Finish Header Top Dropdown Rollover Color */
	
	
	/* Start Header Top Dropdown Background Color */
	.header_top input[type=text],
	.header_top input[type=number],
	.header_top input[type=email],
	.header_top input[type=password],
	.header_top input[type=submit],
	.header_top button,
	.header_top textarea,
	.header_top select,
	.header_top option,
	.header_top_outer nav > div > ul > li ul,
	.header_top .search_bar_wrap,
	.header_top .search_bar_wrap input[type=text],
	.header_top .search_bar_wrap input[type=text]:focus {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
	}
	/* Finish Header Top Dropdown Background Color */
	
	
	/* Start Header Top Dropdown Border Color */
	
	.header_top_outer nav > div > ul > li.menu-item-has-children > a:before {
		border-bottom-color:#f0f0f0; border-bottom-color:rgba(240, 240, 240, 1);
	}
	/* Finish Header Top Dropdown Border Color */
	
	
	/* Start Header Top Custom Rules */
	
	.header_top_outer nav > div > ul > li ul {
		-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
		-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
		box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
	}
	
	/* Finish Header Top Custom Rules */

/***************** Finish Header Top Color Scheme Rules ******************/



/***************** Start Header Bottom Color Scheme Rules ******************/
	
	@media only screen and (max-width: 1024px) {
		.header_top,
		.header_mid,
		#header .search_wrap .search_wrap_inner .search_wrap_in_inner .search_bar_wrap input[type='text'],
		.header_top_outer .meta_wrap {
			color:#767676; color:rgba(118, 118, 118, 1);
		}
		
		html #header .header_bot #navigation > li.current-menu-ancestor > a > span, 
		html #header .header_bot #navigation > li.current-menu-item > a > span, 
		html #header .header_bot #navigation > li.menu-item-highlight > a > span,
		html #header .header_bot #navigation > li.current-menu-ancestor > a > span .nav_subtitle, 
		html #header .header_bot #navigation > li.current-menu-item > a > span .nav_subtitle, 
		html #header .header_bot #navigation > li.menu-item-highlight > a > span .nav_subtitle,
		.header_mid .search_wrap .search_wrap_inner .search_wrap_in_inner .search_but:before, 
		.header_mid .social_mid .social_mid_inner .social_but_wrap .social_but:before, 
		.header_mid .cmsms_dynamic_cart .cmsms_dynamic_cart_button:before,
		.responsive_nav:before,
		.header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav,
		.header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav:hover, 
		.header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav.active {
			color:#ffffff; color:rgba(255, 255, 255, 1);
		}
		
		.header_top,
		.header_mid {
			background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
		}
		
		.header_mid a,
		.header_top a,
		.header_top .color_2,
		.header_top_outer nav > div > ul > li a,
		.header_top_outer .meta_wrap a,
		.header_top h1,
		.header_top h2,
		.header_top h3,
		.header_top h4,
		.header_top h5,
		.header_top h6,
		.header_top h1 a,
		.header_top h2 a,
		.header_top h3 a,
		.header_top h4 a,
		.header_top h5 a,
		.header_top h6 a,
		.header_top h1 a:hover,
		.header_top h2 a:hover,
		.header_top h3 a:hover,
		.header_top h4 a:hover,
		.header_top h5 a:hover,
		.header_top h6 a:hover,
		.header_top .search_bar_wrap button[type=submit][class^="cmsms-icon-"],
		.header_top .search_bar_wrap button[type=submit][class*=" cmsms-icon-"], 
		.header_top .search_bar_wrap button[type=submit][class^="cmsms_theme_icon_"],
		.header_top .search_bar_wrap button[type=submit][class*=" cmsms_theme_icon_"] {
			color:#515151; color:rgba(81, 81, 81, 1);
		}
		
		.header_top a:hover,
		.header_top_outer nav > div > ul > li:hover > a,
		.header_top_outer nav > div > ul > li.current-menu-item > a,
		.header_top_outer nav > div > ul > li.current-menu-ancestor > a,
		.header_top_outer .meta_wrap a:hover, 
		#header .header_mid .social_mid .social_mid_inner .social_wrap .social_wrap_inner ul li a:hover,
		.header_top_inner .social_wrap a:hover {
			color:#ff8f3c; color:rgba(255, 143, 60, 1);
		}
		
		#header .header_mid .social_mid .social_mid_inner .social_wrap .social_wrap_inner ul li a,
		.header_top_inner .social_wrap a {
			color:#ebebeb; color:rgba(235, 235, 235, 1);
		}
		
		#header nav > div > ul#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li,
		.header_bot nav #navigation li,
		#header nav > div > ul#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li:first-child,
		.header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li a {
			border-top-color:#ebebeb; border-top-color:rgba(235, 235, 235, 1);
		}
		
		.header_top .header_top_outer .header_top_inner .header_top_right,
		.header_top .header_top_outer .header_top_inner .header_top_left,
		.header_top .header_top_but {
			border-bottom-color:#ebebeb; border-bottom-color:rgba(235, 235, 235, 1);
		}
		
		.header_mid .search_wrap .search_wrap_inner .search_wrap_in_inner .search_but, 
		.header_mid .search_wrap .search_wrap_inner .search_wrap_in_inner .search_bar_wrap, 
		.header_mid .social_mid .social_mid_inner .social_but_wrap .social_but, 
		.header_mid .cmsms_dynamic_cart .cmsms_dynamic_cart_button,
		.responsive_nav,
		.header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav {
			background-color:#ebebeb; background-color:rgba(235, 235, 235, 1);
		}
		
		.responsive_nav:hover,
		.responsive_nav.active,
		.header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav:hover, 
		.header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav.active {
			background-color:#ff8f3c; background-color:rgba(255, 143, 60, 1);
		}
	}
	
	/* Start Header Bottom Content Color */
	.header_bot {
		color:#767676; color:rgba(118, 118, 118, 1);
	}
	/* Finish Header Bottom Content Color */
	
	
	/* Start Header Bottom Primary Color */
	.header_bot a,
	.header_bot h1 a:hover,
	.header_bot h2 a:hover,
	.header_bot h3 a:hover,
	.header_bot h4 a:hover,
	.header_bot h5 a:hover,
	.header_bot h6 a:hover,
	.header_bot .color_2,
	.header_bot h1,
	.header_bot h2,
	.header_bot h3,
	.header_bot h4,
	.header_bot h5,
	.header_bot h6,
	.header_bot h1 a,
	.header_bot h2 a,
	.header_bot h3 a,
	.header_bot h4 a,
	.header_bot h5 a,
	.header_bot h6 a,
	.header_bot #navigation > li > a span,
	.header_bot .search_bar_wrap button[type=submit][class^="cmsms-icon-"],
	.header_bot .search_bar_wrap button[type=submit][class*=" cmsms-icon-"], 
	.header_bot .search_bar_wrap button[type=submit][class^="cmsms_theme_icon_"],
	.header_bot .search_bar_wrap button[type=submit][class*=" cmsms_theme_icon_"] {
		color:#515151; color:rgba(81, 81, 81, 1);
	}
	
	.header_bot .cmsms_button,
	.header_bot .responsive_nav,
	.header_bot .button:hover,
	.header_bot .button,
	.header_bot #navigation > li > a[data-tag]:before {
		background-color:#515151; background-color:rgba(81, 81, 81, 1);
	}
	/* Finish Header Bottom Primary Color */
	
	
	/* Start Header Bottom Rollover Color */
	.header_bot a:hover,
	#header .header_bot #navigation > li.current-menu-item:hover > a > span,
	#header .header_bot #navigation > li.current-menu-ancestor:hover > a > span,
	.header_bot #navigation > li:hover > a > span,
	.header_bot #navigation > li.menu-item-highlight > a > span,
	.header_bot #navigation > li.menu-item-highlight > a > span > span.nav_subtitle {
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li:hover > a > span,
		.header_bot #navigation > li:hover > a > span > span.nav_subtitle {
			color:#ffffff; color:rgba(255, 255, 255, 1);
		}
	}
	
	.header_bot #navigation > li > a[data-tag]:hover:before, 
	.header_bot #navigation > li.current-menu-item > a[data-tag]:before,
	.header_bot #navigation > li.current-menu-ancestor > a[data-tag]:before,
	.header_bot #navigation > li.menu-item-highlight > a[data-tag]:before {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li:hover > a[data-tag]:before {
			background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
		}
	}
	/* Finish Header Bottom Rollover Color */
	
	
	/* Start Header Bottom Subtitle Color */
	.header_bot #navigation > li > a > span > span.nav_subtitle {
		color:#444444; color:rgba(68, 68, 68, 1);
	}
	/* Finish Header Bottom Subtitle Color */
	
	
	/* Start Header Bottom Background Color */
	.header_bot #navigation > li.current-menu-item > a,
	.header_bot #navigation > li.current-menu-ancestor > a,
	.header_bot_inner #navigation > li.menu-item-highlight > a,
	.header_bot .cmsms_button,
	.header_bot .responsive_nav,
	.header_bot .cmsms_button:hover,
	.header_bot #navigation > li > a[data-tag]:before {
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	
	.header_bot input[type=text]:focus,
	.header_bot input[type=number]:focus,
	.header_bot input[type=email]:focus,
	.header_bot input[type=password]:focus,
	.header_bot textarea:focus,
	.header_bot .header_bot_outer:before,
	.header_default .header_line_wrap {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
	}
	/* Finish Header Bottom Background Color */
	
	
	/* Start Header Bottom Rollover Background Color */
	.header_bot #navigation > li.current-menu-item > a,
	.header_bot #navigation > li.current-menu-ancestor > a,
	.header_bot #navigation > li > a[data-tag]:hover:before, 
	.header_bot #navigation > li.current-menu-item > a[data-tag]:before,
	.header_bot #navigation > li.current-menu-ancestor > a[data-tag]:before,
	.header_bot #navigation > li.menu-item-highlight > a[data-tag]:before {
		color:#ff8f3c; color:rgba(255, 143, 60, 1);
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li:hover > a[data-tag]:before {
			color:#ff8f3c; color:rgba(255, 143, 60, 1);
		}
	}
	
	.header_bot #navigation > li > a > span.nav_bg_hov, 
	.header_bot_inner #navigation > li > a > span.nav_bg_clr,
	.header_bot_inner #navigation > li.menu-item-highlight > a > span.nav_bg_clr {
		background-color:#ff8f3c; background-color:rgba(255, 143, 60, 1);
	}
	/* Finish Header Bottom Rollover Background Color */
	
	
	/* Start Header Borders Color */
	.header_bot input[type=text],
	.header_bot input[type=number],
	.header_bot input[type=email],
	.header_bot input[type=password],
	.header_bot input[type=submit],
	.header_bot button,
	.header_bot textarea,
	.header_bot select,
	.header_bot option {
		border-color:#ebebeb; border-color:rgba(235, 235, 235, 1);
	}
	
	.header_bot .header_line_wrap,
	.header_bot .header_bot_outer:before,
	.header_bot_outer,
	.header_bot hr,
	.header_bot .cmsms_divider {
		border-bottom-color:#ebebeb; border-bottom-color:rgba(235, 235, 235, 1);
	}
	/* Finish Header Bottom Borders Color */
	
	
	/* Start Header Bottom Dropdown Link Color */
	.header_bot #navigation ul li a,
	.header_bot .button,
	.header_bot .button:hover {
		color:#9f9f9f; color:rgba(159, 159, 159, 1);
	}
	
	.header_bot #navigation ul li > a[data-tag]:before {
		background-color:#9f9f9f; background-color:rgba(159, 159, 159, 1);
	}
	/* Finish Header Bottom Dropdown Link Color */
	
	
	/* Start Header Bottom Dropdown Rollover Color */
	.header_bot #navigation > li.menu-item-mega li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li > a:hover,
	.header_bot #navigation ul li > a:hover,
	.header_bot #navigation > li.menu-item-mega > ul > li > a:hover,
	.header_bot #navigation > li.menu-item-mega li.current-menu-ancestor > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.current-menu-item > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a[href]:hover,
	.header_bot #navigation ul li.current-menu-item > a,
	.header_bot #navigation ul li.current-menu-ancestor > a,
	.header_bot #navigation > li.menu-item-mega li li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li:hover > a:hover,
	.header_bot #navigation > li li.menu-item-highlight > a,
	.header_bot #navigation > li li.menu-item-highlight > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight:hover > a:hover {
		color:#ff8f3c; color:rgba(255, 143, 60, 1);
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li.menu-item-mega li:hover > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li:hover > a,
		.header_bot #navigation ul li:hover > a,
		.header_bot #navigation > li.menu-item-mega > ul > li:hover > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li:hover > a,
		.header_bot #navigation > li li.menu-item-highlight:hover > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight:hover > a {
			color:#ff8f3c; color:rgba(255, 143, 60, 1);
		}
	}
	
	.header_bot .responsive_nav.active,
	.header_bot .responsive_nav:hover,
	.header_bot #navigation > li:not(.menu-item-mega) ul li > a[data-tag]:hover:before, 
	.header_bot #navigation > li:not(.menu-item-mega) ul li.current-menu-item > a[data-tag]:before,
	.header_bot #navigation > li:not(.menu-item-mega) ul li.current-menu-ancestor > a[data-tag]:before,
	.header_bot #navigation > li.menu-item-mega li li:hover > a[data-tag]:hover:before,
	.header_bot #navigation > li.menu-item-mega li li.current-menu-item > a[data-tag]:before {
		background-color:#ff8f3c; background-color:rgba(255, 143, 60, 1);
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li:not(.menu-item-mega) ul li:hover > a[data-tag]:before {
			background-color:#ff8f3c; background-color:rgba(255, 143, 60, 1);
		}
	}
	/* Finish Header Bottom Dropdown Rollover Color */
	
	
	/* Start Header Bottom Dropdown Subtitle Color */
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a:hover > span > span.nav_subtitle,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a > span > span.nav_subtitle {
		color:#9e9e9e; color:rgba(158, 158, 158, 1);
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a > span > span.nav_subtitle {
			color:#9e9e9e; color:rgba(158, 158, 158, 1);
		}
	}
	/* Finish Header Bottom Dropdown Subtitle Color */
	
	
	/* Start Header Bottom Dropdown Background Color */
	.header_bot #navigation ul li > a[data-tag]:before {
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	
	.header_bot input[type=text],
	.header_bot input[type=number],
	.header_bot input[type=email],
	.header_bot input[type=password],
	.header_bot input[type=submit],
	.header_bot button,
	.header_bot textarea,
	.header_bot select,
	.header_bot option,
	.header_bot #navigation ul,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
	}
	/* Finish Header Bottom Dropdown Background Color */
	
	
	/* Start Header Bottom Dropdown Borders Color */
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul:after {
		background-color:#f0f0f0; background-color:rgba(240, 240, 240, 1);
	}
	
	.header_bot #navigation ul,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container {
		border-color:#f0f0f0; border-color:rgba(240, 240, 240, 1);
	}
	
	.header_bot #navigation ul li,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li li li:first-child {
		border-top-color:#f0f0f0; border-top-color:rgba(240, 240, 240, 1);
	}
	/* Finish Header Bottom Dropdown Borders Color */
	
	
	/* Start Header Bottom Custom Rules */
	
	.header_bot #navigation ul,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container {
		-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
		-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
		box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
	}
	
	/* Finish Header Bottom Custom Rules */

/***************** Finish Header Bottom Color Scheme Rules ******************/

